*{
	box-sizing: border-box;
}

:root{
	--dblue: rgb(226, 71, 231);
	--lblue: rgb(210, 150, 238);
	--vdblue: rgb(174, 52, 255);
	--paleblue: rgb(255, 133, 229);
	--vpaleblue:rgb(233, 190, 223);
}

body {
	/* background-color:black; */
	font-family: 'Courier New', Courier, monospace;
}
.padding{
	padding: 3em;
}
#logo{
	float: left;
	height: 150px;
}

/* Main and header (top) */
.main_wrapper{
	width: 1000px;
	height: auto;
	margin: auto;
}
#header_wrapper{
	width: 1000px;
	height: 150px;
	margin: 0;
	background: lightgray;
	border-radius: 5px 5px 0 0;
}
#login_stuff{
	margin-top: 65px;
	margin-left: 600px;
}
#login_stuff button{
	width: 100px;
	margin-left: 50px;

}	
#name{
	font-weight: bold;
	color: rgb(70, 40, 18);
	font-size: 40px;
	margin-left: 250px;
	padding-top: 100px;
}


/* Menu bar section */
.menu_bar{
	width: 1000px;
	height: 60px;
	background: darkgray;
	/* padding-top: 1px; */
	border-radius: 0 0 5px 5px;
	margin: 0;
}
.menu_bar ul{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}
.menu_bar li{
	display: inline;
	list-style: none;
	padding: 0px;
	margin: auto;
}
.menu_bar a{
	text-decoration: none;
	/* padding: 8px; */
	/* margin: 5px; */
	margin: 5px;
	
	font-size: 20px;
	color:gray;
}
.menu_bar a:hover{
	color: white;
	
	font-weight: bolder;
}
.menu_bar span{
	color: black;
	font-size: 12px;
}


/* Central page content */
h2{
	margin-left: 50px;
	/* text-decoration: underline; */
	font-size: 25px;
}
h1{
	margin-left: 200px;
	text-decoration: underline;
	font-size: 35px;
}
.content_wrapper{
	width: 1000px;
	/* height: 800px; */
	background: var(--dblue);
	border-radius: 10px;
}

#single_item{
	display: flex;
	flex-direction: row;
	/* float: left; */
	margin: 30px;
	margin-bottom: 50px; 
}
#single_item img{
	border: 1px solid black;
	/* float: left; */
}
#item_text{
	margin-left: 10px;
	/* float: left; */
}
#item_text button{
	height: 20px;
}

#index_images{
	padding: 0.5em;

}



#items{
	width: 70%;
	min-height: 800px;
	height: auto;
	float: right; 
	background: var(--lblue);
	border-radius: 0 10px 10px 0;
	padding: 10px;
}
/* sidebar */
#side_bar{
	width: 30%;
	height: 100%;
	border-radius: 10px 0 0 10px;
	background: var(--dblue);
	/* background: rgb(185, 184, 183); */
	
	float: left;
}

#clear{
	clear: both;
}

#pagination{
	text-align: right;
}


#categories_title{
	font-size: 40px;
	padding-left: 10px;
	width: 100%;
	background: var(--vdblue);
	border-radius: 10px 0 0 0;
}
#categories_title2{
	font-size: 40px;
	padding-left: 10px;
	width: 100%;
	background: var(--vdblue);;
}
#cat_list li{
	list-style: none;
	/* padding: 10px; */
	margin: 1px;
	line-height: 40px;
	
}
#cat_list a{
	text-decoration: none;
	padding: 8px;
	margin: 5px;
	font-size: 20px;
	color:gray;
}
#cat_list a:hover{
	color: white;
	font-weight: bolder;		
}

#footer{
	width: 1000px;
	height: 50px;
	background: gray;
	border-radius: 10px;
	margin: auto;
	padding: 5px;
	clear: both;
}



#comments td{
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.75);
}

/*  LOGIN PAGE  */
#login_page{
	width: 70%;
	height: 800px;
	/* set */
	float: right; 
	background: var(--lblue);;
	border-radius: 0 10px 10px 0;
}

.form_table{
	margin: auto;
	width: 400px;
	border: 1px solid black;
	border-radius: 5px;

}

#edit_test{
	position: relative; 
	/* top: 350px; */
	height: 320px;
}

#edit_img{
	position: absolute; 
	top: 0;
	left: 0;
}

#edit_canvas{
	position: absolute;
	top: 0;
	left: 0;
}


.profile-header{
	display: inline-block;
}

#profile-image{
	float: left;
	margin: 20px;
}

#personal-info{
	float: left;
	margin-left: 20px;
}

#personal-info strong{
	display: inline-block;
	width: 170px;
}

#upload-img{
	margin: auto;
}

#chat{
	background-color: var(--paleblue);
    max-height: 800px;
	overflow: auto;
	width: 80%;
	margin: auto;
	border-radius: 7px;

}

.sent span, .receive span{
	background-color: var(--vpaleblue);
	border-radius: 7px;
	padding: 5px;
}


.sent p, .receive p{


.sent p{
	border-radius: 3px;
	text-align: right;
	width: 80%;
	float: right;
	padding: 10px;
}

.receive p{
	border-radius: 3px;
	text-align: left;
	width: 80%;
	float: left;
}


@media only screen and (max-width: 600px) {
	#side_bar{
		width: 100%;		
		float: none;
	}
	#items{
		width: 100%;
		float: none; 
	}
}
