<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/style.css">
	<title>Matcha</title>
</head>
<body>
	<div class="main_wrapper">

		<h1> HEY YOU </h1>
		<h1> {{header.message}} </h1>


	


		<div class="content_wrapper">
			<!-- Main content -->
			<div id="items">
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>

</body>
