{% extends 'base.html.twig' %}

{% block body %}


<script src="./javascript/chat.js"></script>

<h1>Messages</h1>
<div id="chat">

	<div id="chat-window">
		{% include 'chat_window.html.twig'%}
	</div>

	<div id="text" align="right">
		<form action="#" method="POST">
			<textarea name="message" style="height: 110px; width: 240px;"></textarea>
			<br>
			<input type="submit" name="submit" value="Send"/>
		</form>
	</div>
</div>



{% endblock %}