{% extends 'base.html.twig' %}

{% block body %}

<h1>Connected users</h1>
<div id="chat_users">
	{% for user in connections %}

		<a href="chat.php?usr_id={{user.user_to}}">{{user.first_name}} {{user.last_name}}</a>
		<br>
	{% endfor %}
</div>


{% endblock %}