<div>
	<h1>{{error.status}}</h1>
	<h2>{{message}}</h2>
	{{!-- <h3>OOPSIE WOOPSIE!!</h3> --}}
	{{!-- <p>Uwu We made a fucky wucky!! A wittle fucko boingo! <br>
		The code monkeys at our headquarters are working VEWY HAWD to fix this!</p> --}}
	<br>
	<pre>{{{error.stack}}}</pre>
 </div>