<div>
	<h2 class="text-center">Profile</h2>
	<h3></h3>
</div>

<div id="profile_img">
	<img src="{{profile_img}}" class="rounded mx-auto d-block" height="200px">
</div>
<div class="bd-example">
  <img data-src="holder.js/100px250" class="img-fluid" alt="Generic responsive image" />
</div>
<div class="row">
	<div class="col-md-3">
		<p> sidebar stuff</p>
	</div>
	<div class="col-md-9">
		<p>main page</p>
	</div>
</div>
