
<div class="mb20">
	<h1>Search Results</h1>
<h2 class="search-head">
	<strong class="text-danger">{{num_results}}</strong>
	results were found for the search for
	<strong class="text-danger">{{search_str}}</strong>
</h2>						
</div>

<section class="col-md-12">

	{{#each result}}
		{{> search_res_part}}
	{{/each}}
		
</section>
