{% extends 'base.html.twig' %}

{% block body %}
<h2>People who viewed your profile</h2>

<ul>
	<li><a href="profile.php?usr_id=0">First last</a></li>
</ul>
	
<h2>People who liked your profile</h2>

<ul>
	<li><a href="profile.php?usr_id=0">First last</a></li>
</ul>
{% endblock %}